<div class="explain_content">
<h1>利用方法</h1>

<li>バイトをお探しの方 -> そのまま<%= link_to("アルバイト募集","/home")%>をご覧ください. 気になったバイトがあったらメールか電話をしてみましょう！</li>
<li>バイトを募集したい方 -> <%= link_to("新規登録","users/sign_up")%>を行った後"バイトを募集する"からお願いします </li>

<h1>Aiaruの特徴</h1>
<h3>バイト募集利用の方へ</h3>
<p>Aiaruは会津大生に向けて作成されたサイトです。<br>より効率よくバイトを募集することができます!<br>料金は一切お取りしません。試しに登録してみませんか？</p>

<h3>学生の方へ</h3>
<p>Aiaruでは、会津大生を必要としているアルバイト先が登録されています。<br>有名なバイト紹介アプリには載っていないアルバイトがあるかも?!</p>

</div>