<h1>新着アルバイト</h1>

<div class="home-contents">

<% @work.each do |work| %>

<div class="ptj-content">
<p><%= work.name %></p>
<%= image_tag work.image.url , class: "img-prev"%><br>
<%= "#{work.wage}円" %><br>
<%= work.location %><br>
</div>

<% end %>
</div>