<div class="content">
<h1>アルバイトの登録</h1>
<%= form_tag("/posts/create",method: :post) do %>

<div class="upload-preview">
<img />
</div>
<input class="file" name="image" type="file">

<script type="text/javascript">
  $(document).ready(function(){
    var preview = $(".upload-preview img");
    
    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
});
</script>

<p>店名（必須）<br>
<input type="text" name="STName"></p>
<p>職種（必須）<br>
<input type="text" name="occupation"></p>
<p>給与（必須）<br>
<input type="text" name="Salary"></p>
<p>勤務時間（必須）<br>
<input type="text" name="OFhours"></p>
<p>勤務地（必須）<br>
<input type="text" name="location"></p>
<p>待遇 福利厚生（必須）<br>
<input type="textarea" name="treatment"></p>
<p>勤務期間（必須）<br>
<input type="text" name="period"></p>
<% end %>
</div>