<% if @work.present? == false %>
<div class="content-new">
 <h1>アルバイトの登録</h1>
 <%= form_tag("/post/create",{multipart: true}) do %>


  <div class="image-contents">
    <div class="upload-preview">
      <img src="/assets/sample.jpg" alt="サンプル画像" class="preview">
    </div>
    <input class="file" name="image" type="file">

    <script type="text/javascript">
      $(document).ready(function(){
        var preview = $(".upload-preview img");
        
        $(".file").change(function(event){
          var input = $(event.currentTarget);
          var file = input[0].files[0];
          var reader = new FileReader();

          reader.onload = function(e){
              image_base64 = e.target.result;
              preview.attr("src", image_base64);
          };

          reader.readAsDataURL(file);
        });
    });
    </script>

    <div class="input-area">
        <p>店名<input type="text" name="name"></p>
        <p>職種<input type="text" name="occupation"></p>
        <p>時給<input type="number" name="wage"></p>
        <p>勤務時間<textarea type="text" name="hours" placeholder="勤務時間などを入力してください"></textarea></p>
        <p>勤務地<input type="text" name="location"></p>
        <p>勤務期間<textarea type="text" name="period" placeholder="勤務期間などを入力してください"></textarea></p>
        <p>ホームページリンク<input type="url" name="link"></p>
        <p>備考<textarea type="text" name="note" placeholder="備考を入力してください"></textarea></p>
        <button type="submit">送信する</button>
      </div>
  </div>
  <% end %>
</div>

<% else %>
<p>申し訳ありません。<br>アルバイトの登録は1アカウントにつき一つまでとなっております。</p>
<% end %>