<h1>アルバイトの登録</h1>
<%= form_tag("/posts/create",method: :post) do %>

<%= f.file_field :image id: :user_img %>
<% if @user.image.present? %>
  <%= image_tag @user.image, id: :img_prev %>
<% else %>
  <%= image_tag "sample.jpg", id: :img_prev %>
<% end %>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_img").change(function(){
        readURL(this);
    });
  });
</script>

<p>店名（必須）<br>
<input type="text" name="STName"></p>
<p>職種（必須）<br>
<input type="text" name="occupation"></p>
<p>給与（必須）<br>
<input type="text" name="Salary"></p>
<p>勤務時間（必須）<br>
<input type="text" name="OFhours"></p>
<p>勤務地（必須）<br>
<input type="text" name="location"></p>
<p>待遇 福利厚生（必須）<br>
<input type="textarea" name="treatment"></p>
<p>勤務期間（必須）<br>
<input type="text" name="period"></p>
<% end %>