// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-contents{
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
}

.home-contents h1{
    color: #f4a460;
    margin-bottom: 5%;
    
}

.img-prev{
    width: 10%;
    height: 10%;
}

.ptj-content{
    border: 2px solid #f4a460;
    margin-bottom: 10%;
}