// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-contents{
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
}

.home-contents h2{
    margin-left: 0;
    border-left: 4px solid #008080;
}

.home-contents .label{
    width: 100%;
    margin-bottom: 5%;
}

.ptj-content{
    background-color: #EEEEEE;
    margin-bottom: 10%;
    display: flex;
}

.ptj-content p.name{
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

.ptj-content .occupation{
    margin-top: 5px;
}

.ptj-content .hours{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.right-content{
    margin-left: 10px;
    width: 100%;
}

.content-detail{
    border-left: 2px solid #008080;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.content-detail p{
    margin: 5px 0 0 0;
    
}

.img-prev{
    width: 190px;
    height: 190px;
    padding: 7px;
}
@media screen and (max-width: 959px) {
    .home-contents{
        margin-left: 3%;
        margin-right: 3%;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
}