// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-contents{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.home-contents h1{
    color: #f4a460;
}

.img-prev{
    width: 30%;
    height: 30%;
}

.ptj-content{
    margin-bottom: 3%;
}