// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.content-new{
    margin-left: 30%;
    margin-right: 30%;
    height: auto;
    background-color: white;
}

.content-new h1{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: gray;
}

.label{
    height: 40px;
    background-color: #f5f5f5;
    border-left: 4px solid #008080;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.label p{
    color: gray;
    margin: 0;
    padding-left: 20px;
    line-height: 40px;
}

#img_prev{
    width: 100%;
    max-height: 300px;
}

.image-contents{
    text-align: center;
}

.image-contents p{
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.content-new span{
    color: red;
}

.cp_iptxt{
    text-align: left;
    margin-bottom: 20px;
}

.label-mini{
    font-size: 15px;
}




.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.cp_iptxt input[type='number'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.ef input[type='number']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.cp_iptxt input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.ef input[type='email']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.ef textarea{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
    resize: none;
    height:200px;
}

.ef textarea:focus{
    border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.content-new .actions{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cp_iptxt input[type='text']{
    color: black;
}

.cp_iptxt input[type='number']{
    color: black;
}

.cp_iptxt input[type='email']{
    color: black;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cp_iptxt textarea{
    color: black;
}

.deleteaction{
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    height: 35px;
    width: 80%;
    background-color: red;
    box-shadow: 1px 1px ;
    border-color: red;
    margin-bottom: 20%;
    line-height: 35px;
    opacity: 0.9;
}

.deleteaction:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

.deleteaction:active{
    box-shadow: -1px -1px;
    transition:0s;
}

.deleteaction a{
    color: white;
    display: block;
}

.back-action{
    text-align: center;
}

.back-action button{
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    height: 35px;
    width: 80%;
    color: white;
    background-color: #008080;
    box-shadow: 1px 1px ;
    border-color: #008080;
    margin-bottom: 20%;
    cursor: pointer;
    line-height: 35px;
    opacity: 0.9;
}

button:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

.error_message{
    background-color: #FFC0CB;
    color: brown;
}

.error_message p{
    font-size: 0.7rem;
}

.error_message li{
    list-style: none;
}