// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.content_new{
    margin-left: 30%;
    margin-right: 30%;
    height: auto;
    background-color: #FFFFFF;
}

.content_new h1{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: #808080;
}

.label{
    height: 40px;
    background-color: #f5f5f5;
    border-left: 4px solid #008080;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.label p{
    color: #808080;
    margin: 0;
    padding-left: 20px;
    line-height: 40px;
}

#img_prev{
    width: 100%;
    height: auto;
}

.content_new span{
    color: #FF0000;
}

.cp_iptxt{
    text-align: left;
    margin-bottom: 20px;
}

.label_mini{
    font-size: 15px;
}

.cp_iptxt input[type='text'],input[type='number'],input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.ef input[type='text']:focus,.ef input[type='number']:focus,.ef input[type='email']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

#work_email{
    width: 100%;
}

.ef textarea{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
    resize: none;
    height:200px;
}

.ef textarea:focus{
    border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.content_new .actions{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cp_iptxt textarea{
    color: #000000;
}

.deleteaction{
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    height: 35px;
    width: 80%;
    background-color: #FF0000;
    box-shadow: 1px 1px ;
    border-color: #FF0000;
    margin-bottom: 20%;
    line-height: 35px;
    opacity: 0.9;
}

.deleteaction:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

.deleteaction:active{
    box-shadow: -1px -1px;
    transition:0s;
}

.deleteaction a{
    color: #FFFFFF;
    display: block;
}

.back_action{
    text-align: center;
}

.back_action button{
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    height: 35px;
    width: 80%;
    color: #FFFFFF;
    background-color: #008080;
    box-shadow: 1px 1px ;
    border-color: #008080;
    margin-bottom: 20%;
    cursor: pointer;
    line-height: 35px;
    opacity: 0.9;
}

button:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

.error_message{
    background-color: #FFC0CB;
    color: #8B0000;
}

.error_message p{
    font-size: 0.7rem;
}

.error_message li{
    list-style: none;
}





@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */

    .content_new h1{
        font-size: 20px;
    }

    .content_new{
        margin-left: 15%;
        margin-right: 15%;
        height: auto;
        background-color: #FFFFFF;
    }

    .deleteaction{
        width: 80%;
    }

}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .content_new h1{
        font-size: 20px;
    }

    .content_new{
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
        background-color: #FFFFFF;
    }

    .deleteaction{
        width: 90%;
    }
}