// Place all the styles related to the PTJ_registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ptj_contents{
    background-color: gray;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    
}

.ptj_contents>h1{
    font-size: 20px;
    text-align: center;
}