:root {
    --fontsize: 20px;
    --fontlinksize: 15px;
  }

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #EEEEEE;
    position: relative;
}

.contents{
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%,-50%);
    min-width: 30%; min-height: 30%;
    border: 2px solid #008080;
}

.user-edit{
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 65%; left: 50%; 
    transform: translate(-50%,-50%);
    min-width: 30%; min-height: 30%;
    border: 2px solid #008080;
}

.space{
    min-height: 110vh;
 }

.content{
    text-align: center;
    height: 100%;
    margin: 20px 0;
}

.field{
    margin-bottom: 20px;
    color: #CCCCCC;
}

h2{
    color: #008080;	
    margin: 20px;
}

input[type="email"]{
    font-size: var(--fontsize);
    width: 80%;
    height: 35px;
}

input[type="password"]{
    font-size: var(--fontsize);
    width: 80%;
    height: 35px;
}

.btn{
    border-radius: 10px;
    width: 80%;
    color: white;
    background: #008080;
    border-color: #008080;
    box-shadow: none;
    height: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.9;
}

.btn-delete{
    background-color: red;
    border-color: red;
}

.btn:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

.link{
    color: blue;
    font-size: var(--fontlinksize);
}

#error_explanation{
    width: 100%;
    color: red;
}

#error_explanation ul{
    padding: 0;
    list-style-type: none;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#error_explanation li{
    margin: 0 auto;
    font-size: var(--fontsize);
}


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    :root {
        --fontsize: 20px;
        --fontlinksize: 15px;
      }

    .contents{
        width: 50%;
    }

  input[type="email"]{
      width: 90%;
  }
  
  input[type="password"]{
      width: 90%;
  }
  
  .btn{
      width: 90%;
  }

  #error_explanation li{
      font-size: 13px;
  }
}



@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    .contents{
          width: 90%;
      }

    .space{
        min-height: 120vh;
    }

    .user-edit{
        top: 70%;
    }

}