.alert{
    color: red;
    width: 100%;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #00CCFF;
    position: relative;
}

.contents{
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    min-width: 30%; min-height: 30%;
}

.content{
    text-align: center;
    height: 100%;
    margin: 20px 0;
}

.field{
    margin-bottom: 20px;
    color: #CCCCCC;
}

h2{
    color: #00CCFF;	
}

input[type="email"]{
    font-size: 20px;
    width: 80%;
    height: 35px;
}

input[type="password"]{
    font-size: 20px;
    width: 80%;
    height: 35px;
}

.btn{
    opacity: 0.7;
}

.btn:hover{
    opacity: 1.0;
    transition: 1.0s ;
}

.btn{
    border-radius: 10px;
    width: 80%;
    color: white;
    background: #00CCFF;
    border-color: #00CCFF;
    box-shadow: none;
    height: 35px;
    margin-bottom: 20px;
    cursor: pointer;
}

.link{
    color: blue;
}

#error_explanation{
    width: 100%;
    color: red;
}

#error_explanation ul{
    padding: 0;
    list-style-type: none;
}

