<p>いつもAiaruをご利用くださりありがとうございます</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>お客様のメールアドレスが <%= @resource.unconfirmed_email %> に変更されることを通知します。</p>
<% else %>
  <p>お客様のメールアドレスが <%= @resource.email %> に変更されることを通知します。</p>
<% end %>

<p>今後ともAiaruをよろしくお願いいたします。</p>

