<p>いつもAiaruをご利用くださりありがとうございます</p>

<p>パスワード変更のご要望をいただきましたので、通知いたします。変更を完了するには、以下のリンクをクリックして下さい。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールについて思い当たる節がない場合は無視していただいて結構です。</p>
<p>パスワードは上記のリンクをクリックして完了するまで変更はされません。</p>

<p>今後ともAiaruをよろしくお願いいたします。</p>
