<p>いつもAiaruをご利用くださりありがとうございます</p>

<p>ログインに何度も失敗したため、お客様のアカウントがロックされたことを通知します。</p>

<p>ロックを解除するには以下のリンクをクリックして下さい。</p>

<p><%= link_to 'ロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>

<p>今後ともAiaruをよろしくお願いいたします。</p>
